<a href="https://colab.research.google.com/github/pankjb/Data-Science/blob/main/6_Loan_Status_Prediction_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Dependencies

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [4]:
loan_data = pd.read_csv('/content/train.csv')
loan_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
loan_data.shape

(614, 13)

In [6]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

Handling Null Values

In [7]:
loan_data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

Analyzing and Converting Text Data into Numerical Data

In [10]:
loan_data['Education'].value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [17]:
loan_data['Property_Area'].value_counts()

0.5    191
0.0    150
1.0    139
Name: Property_Area, dtype: int64

In [21]:
loan_data['Dependents'].value_counts()

0    274
2     85
1     80
4     41
Name: Dependents, dtype: int64

In [11]:
loan_data = loan_data.dropna()

In [19]:
loan_data = loan_data.replace({'Gender':{'Male':0, 'Female':1}, 'Dependents':{'3+':4}, 'Married':{'Yes':0,'No':1}, 'Education':{'Graduate':1, 'Not Graduate':0}, 'Property_Area':{'Urban':0,'Rural':1,'Semiurban':0.5}, 'Loan_Status':{'Y':1,'N':0}, 'Self_Employed':{'No':0,'Yes':1}})

In [20]:
loan_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,0,0,1,1,0,4583,1508.0,128.0,360.0,1.0,1.0,0
2,LP001005,0,0,0,1,1,3000,0.0,66.0,360.0,1.0,0.0,1
3,LP001006,0,0,0,0,0,2583,2358.0,120.0,360.0,1.0,0.0,1
4,LP001008,0,1,0,1,0,6000,0.0,141.0,360.0,1.0,0.0,1
5,LP001011,0,0,2,1,1,5417,4196.0,267.0,360.0,1.0,0.0,1

Assigning Test and Train Data to X and Y

In [23]:
X = loan_data.drop(columns =['Loan_ID','Loan_Status'], axis = 1)
Y = loan_data['Loan_Status']

In [24]:
print(X)

     Gender  Married Dependents  Education  Self_Employed  ApplicantIncome  \
1         0        0          1          1              0             4583
2         0        0          0          1              1             3000
3         0        0          0          0              0             2583
4         0        1          0          1              0             6000
5         0        0          2          1              1             5417
..      ...      ...        ...        ...            ...              ...
609       1        1          0          1              0             2900
610       0        0          4          1              0             4106
611       0        0          1          1              0             8072
612       0        0          2          1              0             7583
613       1        1          0          1              1             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
1               1508.0       128.0             360.0             1.0
2                  0.0        66.0             360.0             1.0
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
5               4196.0       267.0             360.0             1.0
..                 ...         ...               ...             ...
609                0.0        71.0             360.0             1.0
610                0.0        40.0             180.0             1.0
611              240.0       253.0             360.0             1.0
612                0.0       187.0             360.0             1.0
613                0.0       133.0             360.0             0.0

     Property_Area
1              1.0
2              0.0
3              0.0
4              0.0
5              0.0
..             ...
609            1.0
610            1.0
611            0.0
612            0.0
613            0.5

[480 rows x 11 columns]

In [25]:
print(Y)

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

Splitting Data into Train and Test Data

In [28]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state= 2)

In [29]:
print(X.shape, X_train.shape, X_test.shape)

(480, 11) (384, 11) (96, 11)

Train Model by SVM

In [31]:
classifier = svm.SVC(kernel = 'linear')

In [33]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

In [35]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(Y_train, X_train_prediction)
print('Training Data Accuracy is: ', training_data_accuracy)

Training Data Accuracy is:  0.7447916666666666

In [36]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(Y_test, X_test_prediction)
print('Test Data Accuracy is: ', test_data_accuracy)

Test Data Accuracy is:  0.7291666666666666